<h1>New Review</h1>
<%= simple_form_for @review do |f| %>
  <%= f.input :rating do %>
  <%= f.input :content %>
  <%= f.button :submit, class: "btn btn-success" %>
<% end %>
<%= link_to 'Back', restaurant_path(@restaurant), class: "btn btn-danger" %>
